.control-icons-container i {
  color: rgba(197, 216, 109, 0.8);
  margin: 0.5rem 0.5rem;
  transition: transform 0.3s ease;
}

.control-icons-container i:first-child {
  margin-left: 2rem;
}

.control-icons-container .fa-caret-up {
  margin-right: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-icons-container .fa-caret-down {
  position: fixed;
  top: 6rem;
  width: 5rem;
  height: 5rem;
  margin:0 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 17, 36, 1);
  border-radius: 50%;
}

.control-icons-container .fa-plus {
  display: none;
}

.mobile-create-note-button {
  position: fixed;
  bottom: 13rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: hidden;
  border-radius: 50%;
  outline: none;
  font-size: var(--extra-big-font-size);
  transition: transform 0.3s ease;
  background-color: rgba(28, 17, 36, 0.9);
  color: rgba(197, 216, 109, 0.8);
}

@media screen and (min-width: 600px) {
  button.mobile-create-note-button {
    display: none;
  }

  div.control-icons-container .fa-plus {
    display: flex;
  }
}

@media (hover:hover) {
  .mobile-create-note-button:hover,
  .control-icons-container i:hover {
    color: rgba(197, 216, 109, 0.9);
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
  }
}

@media (hover:none){
  .mobile-create-note-button:active,
  .control-icons-container i:active {
    color: rgba(197, 216, 109, 0.9)
    transform: scale3d(1.03, 1.03, 1.03);
  }
}