.control-icons-container i,
.form-control-buttons i,
.dumpster-control-buttons-container i{
  color: rgba(197, 216, 109, 0.8);
  margin: 0.5rem 0.5rem;
  transition: transform 0.3s ease;
}

.control-icons-container .fa-dumpster,
.dumpster-control-buttons-container .fa-xmark,
.dumpster-control-buttons-container .fa-dumpster-fire{
  color: rgba(223, 34, 18, 0.7);
}

.control-icons-container i:first-child,
.form-control-buttons i:first-child,
.dumpster-control-buttons-container i:first-child {
  margin-left: 2rem;
}

.form-control-buttons .fa-arrow-turn-up {
  margin-left: 0;
  margin-right: 1rem;
  transform: rotateZ(-90deg);
}

.form-control-buttons .fa-arrow-turn-down {
  margin-left: 1rem;
  margin-right: 2rem;
  transform: rotateZ(-90deg);
}

.form-control-buttons .fa-check {
  margin-left: 0 !important;
  margin-right: 1.5rem;
}

.control-icons-container .fa-caret-up,
.dumpster-control-buttons-container .fa-xmark {
  margin-right: 1rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-icons-container .fa-caret-down {
  position: fixed;
  top: 6rem;
  width: 5rem;
  height: 5rem;
  margin:0 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 17, 36, 1);
  border-radius: 50%;
}

.control-icons-container .fa-plus {
  display: none;
}

.mobile-create-note-button {
  position: fixed;
  bottom: 18rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: hidden;
  border-radius: 50%;
  outline: none;
  font-size: var(--extra-big-font-size);
  transition: transform 0.3s ease;
  background-color: rgba(28, 17, 36, 0.9);
  color: rgba(197, 216, 109, 0.8);
}

@media screen and (min-width: 600px) {
  button.mobile-create-note-button {
    display: none;
  }

  div.control-icons-container .fa-plus {
    display: flex;
  }
}

@media (hover:hover) {
  .mobile-create-note-button:hover,
  .control-icons-container i:hover,
  .form-control-buttons i:hover,
  .dumpster-control-buttons-container i:hover {
    color: rgba(197, 216, 109, 0.9);
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  
  .control-icons-container .fa-dumpster:hover,
  .dumpster-control-buttons-container .fa-xmark:hover,
  .dumpster-control-buttons-container .fa-dumpster-fire:hover {
    color: rgba(223, 34, 18, 0.8);
  }
  
  .form-control-buttons .fa-arrow-turn-up:hover,
  .form-control-buttons .fa-arrow-turn-down:hover {
    color: rgba(197, 216, 109, 0.9);
    cursor: pointer;
    transform: rotateZ(-90deg) scale3d(1.03, 1.03, 1.03);
  }
}

@media (hover:none){
  .mobile-create-note-button:active,
  .control-icons-container i:active,
  .form-control-buttons i:active,
  .dumpster-control-buttons-container i:active{
    color: rgba(197, 216, 109, 0.9)
    transform: scale3d(1.03, 1.03, 1.03);
  }

  .control-icons-container .fa-dumpster:active,
  .dumpster-control-buttons-container .fa-xmark:active,
  .dumpster-control-buttons-container .fa-dumpster-fire:active {
    color: rgba(223, 34, 18, 0.8);
  }

  .form-control-buttons .fa-arrow-turn-up:active,
  .form-control-buttons .fa-arrow-turn-down:active {
    color: rgba(197, 216, 109, 0.9);
    cursor: pointer;
    transform: rotateZ(-90deg) scale3d(1.03, 1.03, 1.03);
  }
}