.main-section {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 17rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.notes-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-height: inherit;
  margin: 1rem 0;
  border-radius: 1rem;
  background:  linear-gradient(180deg, rgba(34, 40, 49, 0.1) 0%, rgba(34, 40, 49, 0.2) 100%);
  scrollbar-color: transparent;
  scrollbar-width: none !important;
}

.notes-section::-webkit-scrollbar {
  width: 0rem;
}

.notes-section::-webkit-scrollbar-track {
  background: transparent;
}

.control-icons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: rgba(28, 17, 36, 1);
  font-size: var(--extra-big-font-size);
  transition: transform 0.3s ease;
}

.notes-column-container {
  display: flex;
  transition: transform 0.3s ease;
  position: relative;
}

.notes-column {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

#trash-can-container {
  width: 100%;
  height: 8rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 9rem;
  border-radius: 1rem;
  background:rgba(242,242,242,1);
}

#trash-can-content-container {
  width: 100%;
  height: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-radius: 1rem;
  border-color: rgba(223, 34, 18, 1);
  color: rgba(223, 34, 18, 1);
}

#trash-can-container p {
  font-size: var(--extra-big-font-size);
  text-align: center;
}

#trash-can-container p:hover {
  cursor: default;
}

.trashcan-under-drop {
  border-color: rgba(223, 34, 18, 0.7) !important;
  color: rgba(223, 34, 18, 0.7) !important;
}

.trashcan-under-drop p i {
  transition: transform 0.1s ease;
  -webkit-animation: shaking 3s ease infinite;
          animation: shaking 3s ease infinite;
}

@-webkit-keyframes shaking {
  0%{transform: translate(0, 0) skew(0, 0);}
  25%{transform: translate(2px, 2px) skew(5deg, 0);}
  50%{transform: translate(0, 0) skew(0, 0);}
  75%{transform: translate(-2px, 2px) skew(-5deg, 0);}
  100%{transform: translate(0, 0) skew(0, 0);}
}

@keyframes shaking {
  0%{transform: translate(0, 0) skew(0, 0);}
  25%{transform: translate(2px, 2px) skew(5deg, 0);}
  50%{transform: translate(0, 0) skew(0, 0);}
  75%{transform: translate(-2px, 2px) skew(-5deg, 0);}
  100%{transform: translate(0, 0) skew(0, 0);}
}