.main-section {
  position: relative;
  width: calc(100% - 2rem);
  min-height: calc(100dvh - 17rem);
  margin: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
}

.notes-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  min-height: inherit;
  margin-top: 1rem;
  border-radius: 1rem;
  background:  linear-gradient(180deg, rgba(34, 40, 49, 0.1) 0%, rgba(34, 40, 49, 0.2) 100%);
  scrollbar-color: transparent;
  scrollbar-width: none !important;
}

.notes-section::-webkit-scrollbar,
.dumpster-container::-webkit-scrollbar {
  width: 0rem;
}

.notes-section::-webkit-scrollbar-track,
.dumpster-container::-webkit-scrollbar-track {
  background: transparent;
}

.control-buttons-container, .dumpster-control-buttons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: rgba(28, 17, 36, 1);
  font-size: var(--extra-big-font-size);
  transition: transform 0.3s ease;
}

.dumpster-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  min-height: inherit;
  position: absolute;
  top: 1rem;
  bottom: 0;
  right: -101%;
  z-index: 100;
  border-radius: 1rem;
  background-color:rgba(240, 215, 140, 1);
  transition: transform 0.3s ease;
}

.notes-column-container, .dumpster-columns-container {
  display: flex;
  min-height: calc(100% - 11rem);
  overflow-y: scroll;
  scrollbar-color: transparent;
  scrollbar-width: none !important;
  transition: transform 0.3s ease;
  position: relative;
  margin-bottom: 6rem;
}

.notes-column, .dumpster-column {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

#trash-can-container,
#recovery-container {
  width: 100%;
  height: 6rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  border-radius: 1rem;
  background:rgba(242,242,242,1);
}

#recovery-container {
  position: -webkit-sticky;
  position: sticky;
  background-color: rgba(28, 17, 36, 1);
  bottom: 0;
}

#trash-can-content-container,
#recovery-content-container {
  width: 100%;
  height: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-radius: 1rem;
  border-color: rgba(223, 34, 18, 1);
  color: rgba(223, 34, 18, 1);
}

#recovery-content-container {
  border-color: rgba(197, 216, 109, 1);
  color: rgba(197, 216, 109, 1);
}

#trash-can-container p,
#recovery-container p{
  font-size: var(--big-font-size);
  text-align: center;
}

#trash-can-container p:hover,
#recovery-container p:hover{
  cursor: default;
}

.trashcan-ondragstart div {
  border-color: rgba(223, 34, 18, 0.7) !important;
  color: rgba(223, 34, 18, 0.7) !important;
}

.trashcan-under-drop {
  background-color: rgba(223, 34, 18, 0.7) !important;
}

.trashcan-under-drop div{
  color: rgba(242,242,242,1) !important;
  pointer-events: none;
  /*свойство выше не вызывает событие dragleave на дочернем элементе*/
}

.recovery-container-ondragstart div {
  border-color: rgba(197, 216, 109, 0.8) !important;
  color: rgba(197, 216, 109, 0.8) !important;
}

.recovery-container-under-drop {
  background-color: rgba(197, 216, 109, 0.8) !important;
}

.recovery-container-under-drop div {
  color: rgba(28, 17, 36, 1) !important;
  pointer-events: none;
  /*свойство выше не вызывает событие dragleave на дочернем элементе*/
}

.recovery-container-ondragstart div p i {
  transition: transform 0.1s ease;
  -webkit-animation: rotateIcon 4s ease infinite;
          animation: rotateIcon 4s ease infinite
}

.trashcan-ondragstart div p i {
  transition: transform 0.1s ease;
  -webkit-animation: shaking 3s ease infinite;
          animation: shaking 3s ease infinite;
}

@-webkit-keyframes shaking {
  0%{transform: translate(0, 0) skew(0, 0);}
  25%{transform: translate(2px, 2px) skew(5deg, 0);}
  50%{transform: translate(0, 0) skew(0, 0);}
  75%{transform: translate(-2px, 2px) skew(-5deg, 0);}
  100%{transform: translate(0, 0) skew(0, 0);}
}

@keyframes shaking {
  0%{transform: translate(0, 0) skew(0, 0);}
  25%{transform: translate(2px, 2px) skew(5deg, 0);}
  50%{transform: translate(0, 0) skew(0, 0);}
  75%{transform: translate(-2px, 2px) skew(-5deg, 0);}
  100%{transform: translate(0, 0) skew(0, 0);}
}

@-webkit-keyframes rotateIcon {
  0%{transform: rotate(0);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}

@keyframes rotateIcon {
  0%{transform: rotate(0);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}