.main-section {
  width: calc(100% - 2rem);
  min-height: calc(100vh - 17rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-table-section {
  width: inherit;
  min-height: inherit;
  margin: 1rem;
  border-style: solid;
  border-radius: 2rem;
  background-image:  linear-gradient(180deg, rgba(34, 40, 49, 0.1) 0%, rgba(34, 40, 49, 0.1) 100%), url("../images/background.jpg");
  background-repeat: repeat-y, repeat-y;
  background-attachment: fixed, fixed;
  background-size: cover, cover;
}