:root{
  --footer-icons-size: 6rem;
  --extra-big-font-size: 4rem;
  --big-font-size: 3rem;
  --header-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --smaller-font-size: 1.4rem;
  --normal-text-indent: 0.5rem;
}

@media screen and (min-width: 600px) {
  :root {
    --footer-icons-size: 7rem;
  }
}